<div class="sidebar" id="sidebar">
    <div class="sidebar-header">
        <img src="../../Img/LogoCompleta2.png" alt="Logo" />
    </div>

    <a href="../Home/home.html" class="menu-item">
        <i class="fas fa-home"></i>
        <span>Home</span>
    </a>
    

    <a href="../TicketCalls/ticketcalls.html" class="menu-item">
        <i class="fas fa-ticket-alt" style="color: rgb(197, 160, 57)"></i>
        <span>Consultar Chamados</span>
    </a>

    <a href="../EditCalls/edit-calls.html" class="menu-item">
        <i class="fas fa-cog"></i>
        <span>Atualizar Chamado</span>
    </a>
    
    <div class="menu-item has-submenu">
        <i class="fas fa-pen"></i>
        <span id="cadastro-toggle">Cadastro</span>
        <i class="fas fa-chevron-down" id="dropdown-icon" style="margin-left: auto;"></i>
        <div class="submenu" id="submenu">
            <a href="../BlockRegister/block-register.html">Cadastro de Localização</a>
            <a href="../ClassRegister/class-register.html">Cadastro de Sala</a>
            <a href="../MachineRegister/machine-register.html">Cadastro de Máquina</a>
        </div>
    </div>

    <a href="../Help/help.html" class="menu-item">
        <i class="fa fa-question-circle"></i>
        <span>Suporte</span>
    </a>

    <div class="menu-item">
    <!-- <input id="switch-theme-btn" type="checkbox"> -->
    <label class="switch">
        <input type="checkbox" id="switch-theme-btn">
        <div class="slider">
          <div class="sun"></div>
          <div class="moon"></div>
          <div class="cloud cloud1"></div>
          <div class="cloud cloud2"></div>
          <div class="star star1"></div>
          <div class="star star2"></div>
          <div class="star star3"></div>
          <div class="star star4"></div>
          <div class="star star5"></div>
        </div>
      </label>
      <span>ﾠModo Escuro</span>
    </div>

    <a href="../Login/index.html" class="menu-item" onclick="localStorage.removeItem('isLoggedIn')">
        <i class="fa fa-power-off"></i>
        <span>Sair</span>
    </a>
    </div>
</div>
