/* Reset e Variáveis */
:root {
    --primary-color: #1d4ed8;
    --secondary-color: #9ca3af;
    --success-color: #10b981;
    --warning-color: #fbbf24;
    --danger-color: #f87171;
    --light-bg: #1f2937;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial", sans-serif;
}

body {
    background-color: var(--light-bg);
    color: #e5e7eb;
}

h2 {
    color: #e5e7eb;
    padding-bottom: 10px;
    margin-top: 40px;
    border-bottom: 2px solid #ff6600;
}

/* Container Principal */
.container {
    display: flex;
    min-height: 100vh;
}

/* Sidebar */

.sidebar {
    width: 210px;
    background-color: #111827;
    color: white;
    position: fixed;
    height: 100vh;
    transition: all 0.6s ease;
    z-index: 1000;
}

.sidebar.collapsed {
    width: 50px;
}

.sidebar-header {
    padding: 1rem;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.menu-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
    color: white;
    text-decoration: none;
}

.sidebar.collapsed .menu-item span {
    opacity: 0%;
}

.sidebar .menu-item span {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .sidebar-header img {
    opacity: 0%;
}

.sidebar .sidebar-header img {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.sidebar.collapsed .menu-item.has-submenu i.fas.fa-chevron-down {
    opacity: 0%;
}

.sidebar .menu-item.has-submenu i.fas.fa-chevron-down {
    opacity: 1;
    transition: opacity 0.3s ease;
}

/*Ação ao mover o mouse*/
.menu-item:hover {
    background-color: rgba(31, 41, 55, 0.7);
}

.menu-item {
    padding: 1rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.2s;
}

.menu-item i {
    width: 20px;
    margin-right: 1rem;
}

/* Main Content */
.main-content {
    flex: 1;
    margin-left: 250px;
    padding: 2rem;
    transition: margin-left 0.3s ease;
}

.main-content.expanded {
    margin-left: 60px;
}

/* Header */
.header {
    background-color: #111827;
    padding: 1.5rem;
    border-radius: 8px;
    margin-bottom: 2rem;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 1rem;
}

/* Cards Grid */
.cards-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    gap: 1.5rem;
    margin-bottom: 2rem;
}

.card {
    background-color: #1f2937;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
}

.card-header {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}

.card-icon {
    width: 48px;
    height: 48px;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 1rem;
}

/* Tabela */
.table-container {
    background-color: #111827;
    padding: 1.5rem;
    border-radius: 8px;
    box-shadow: 0 1px 3px rgba(27, 27, 27, 0.5);
    overflow-x: auto;
}

.table {
    width: 100%;
    border-collapse: collapse;
}

.table th,
.table td {
    padding: 1rem;
    text-align: left;
    border-bottom: 1px solid #4b5563;
}

.table th {
    background-color: #374151;
    font-weight: 600;
    color: var(--secondary-color);
}

/* Status e Prioridade */
.badge {
    padding: 0.25rem 0.75rem;
    border-radius: 9999px;
    font-size: 0.8rem;
    font-weight: 600;
}

.badge.success {
    background-color: #065f46;
    color: var(--success-color);
}

.badge.warning {
    background-color: #92400e;
    color: var(--warning-color);
}

.badge.danger {
    background-color: #7f1d1d;
    color: var(--danger-color);
}

/* Responsividade */
@media (max-width: 600px) {
    .sidebar {
        width: 50px;
    }

    .sidebar:hover {
        width: 200px;
    }

    .main-content {
        margin-left: 50px;
        padding: 1rem;
    }

    .cards-grid {
        grid-template-columns: 1fr;
    }

    .table-container {
        overflow-x: auto;
    }
}

@media (max-width: 480px) {
    .header {
        flex-direction: column;
        align-items: stretch;
    }

    .search-bar input {
        width: 100%;
    }
}

img {
    width: 100%;
    height: auto;
    border-radius: 20px;
}

.menu-item.has-submenu {
    position: relative;
}

.submenu {
    padding-left: 1rem;
    position: relative;
    display: none;
    padding: 0;
    margin: 0;
    background-color: #111827;
    border-radius: 5%;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
}

.submenu a {
    display: block;
    padding: 0.5rem 1rem;
    color: white;
    text-decoration: none;
}

.submenu a:hover {
    background-color: rgba(31, 41, 55, 0.7);
}

.submenu.show {
    display: block;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1.5rem;
    margin-bottom: 1.5rem;
}

.form-group {
    flex: 1;
    min-width: 150px;
}

.form-group label {
    font-weight: bold;
    margin-bottom: 0.5rem;
    color: #e5e7eb;
}

.form-group select,
.form-group input {
    width: 100%;
    padding: 0.75rem;
    border: 1px solid #4b5563;
    border-radius: 8px;
    font-size: 1rem;
    background-color: #1f2937;
    color: #e5e7eb;
    transition: border-color 0.3s ease;
}

.form-group select:focus,
.form-group input:focus {
    outline: none;
    border-color: #1d4ed8;
    box-shadow: 0 0 5px rgba(29, 78, 216, 0.5);
}

.serch-save-clear-group {
    display: flex;
    gap: 1rem;
}

.btn {
    display: flex;
    align-items: center;
    padding: 0.75rem 1.5rem;
    border: none;
    border-radius: 8px;
    background-color: #2563eb;
    color: white;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #1e3a8a;
}

.btn i {
    margin-right: 0.5rem;
}

/* The alert message box */
.form-alert {
    padding: 15px;
    width: 600px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.5); /* Red */
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;
}

/* The close button */
.closebtn {
    margin-left: 15px;
    color: white;
    font-weight: bold;
    float: right;
    font-size: 22px;
    line-height: 20px;
    cursor: pointer;
    transition: 0.3s;
}

/* When moving the mouse over the close button */
.closebtn:hover {
    color: black;
}

/* The alert success message box */
.form-alert-success {
    padding: 15px;
    width: 600px;
    height: 50px;
    background-color: rgba(66, 255, 78, 0.5); /* Green */
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;
}

/* The alert success message box */
.form-alert-alreadyexists {
    padding: 15px;
    width: 600px;
    height: 50px;
    background-color: rgba(255, 0, 0, 0.5); /* Green */
    border-radius: 10px;
    color: white;
    margin-bottom: 15px;
}

input.error {
    border-color: red; /* Red border for invalid input */
}

select.error {
    border-color: red;
}

/* btn switch dark mode */
.switch {
    position: relative;
    width: 65px; /* Reduzido */
    height: 30px; /* Reduzido */
    background: linear-gradient(0deg, #87ceeb 0%, #e0f6ff 100%);
    border-radius: 15px; /* Ajustado proporcionalmente */
    cursor: pointer;
    transition: all 1s cubic-bezier(0.68, -0.55, 0.27, 1.55);
    box-shadow: 0 3px 8px rgba(0, 0, 0, 0.2); /* Sombra reduzida */
    overflow: hidden;
    border: 2px solid #ffffff; /* Borda ajustada */
}

.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}

.slider {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: 1s;
}

.sun,
.moon {
    position: absolute;
    width: 20px; /* Reduzido */
    height: 20px; /* Reduzido */
    border-radius: 50%;
    top: 5px; /* Ajustado */
    transition: 1s;
}

.sun {
    background: radial-gradient(circle, #ffd700 30%, #ffa500 70%);
    left: 5px; /* Ajustado */
    box-shadow: 0 0 5px #ffd700;
    transform: scale(1);
}

.moon {
    background: radial-gradient(circle, #f4f4f4 30%, #e0e0e0 70%);
    right: -25px; /* Ajustado */
    box-shadow: 0 0 5px #f4f4f4;
    transform: scale(0);
}

.cloud {
    background-color: white;
    border-radius: 10px; /* Ajustado */
    position: absolute;
    transition: 1s;
}

.cloud::before,
.cloud::after {
    content: "";
    position: absolute;
    background-color: white;
    border-radius: 50%;
}

.cloud1 {
    width: 20px; /* Reduzido */
    height: 7px; /* Reduzido */
    top: 8px; /* Ajustado */
    left: 25px; /* Ajustado */
}

.cloud1::before {
    width: 10px; /* Reduzido */
    height: 10px; /* Reduzido */
    top: -5px;
    left: 3px;
}

.cloud1::after {
    width: 8px; /* Reduzido */
    height: 8px; /* Reduzido */
    top: -4px;
    right: 2px;
}

.cloud2 {
    width: 15px; /* Reduzido */
    height: 5px; /* Reduzido */
    top: 15px; /* Ajustado */
    left: 35px; /* Ajustado */
}

.cloud2::before {
    width: 8px; /* Reduzido */
    height: 8px; /* Reduzido */
    top: -3px;
    left: 2px;
}

.cloud2::after {
    width: 6px; /* Reduzido */
    height: 6px; /* Reduzido */
    top: -2px;
    right: 2px;
}

.star {
    position: absolute;
    background-color: white;
    clip-path: polygon(
        50% 0%,
        61% 35%,
        98% 35%,
        68% 57%,
        79% 91%,
        50% 70%,
        21% 91%,
        32% 57%,
        2% 35%,
        39% 35%
    );
    opacity: 0;
    transition: 1s;
}

.star1 {
    width: 4px; /* Reduzido */
    height: 4px; /* Reduzido */
    top: 5px;
    left: 8px;
}
.star2 {
    width: 3px; /* Reduzido */
    height: 3px; /* Reduzido */
    top: 12px;
    left: 16px;
}
.star3 {
    width: 2px; /* Reduzido */
    height: 2px; /* Reduzido */
    top: 18px;
    left: 12px;
}
.star4 {
    width: 3px; /* Reduzido */
    height: 3px; /* Reduzido */
    top: 8px;
    left: 20px;
}
.star5 {
    width: 2px; /* Reduzido */
    height: 2px; /* Reduzido */
    top: 15px;
    left: 25px;
}

input:checked + .slider {
    background: linear-gradient(0deg, #1a1a2e 0%, #16213e 100%);
}

input:checked + .slider .sun {
    left: -25px; /* Ajustado */
    transform: scale(0);
}

input:checked + .slider .moon {
    right: 5px; /* Ajustado */
    transform: scale(1);
}

input:checked + .slider .cloud {
    transform: translateX(65px) scale(0); /* Ajustado */
}

input:checked + .slider .star {
    opacity: 1;
    transform: scale(1); /* Ajustado */
}

@keyframes twinkle {
    0%,
    100% {
        opacity: 1;
    }
    50% {
        opacity: 0.5;
    }
}

input:checked + .slider .star {
    animation: twinkle 2s infinite;
}

input:checked + .slider .star1 {
    animation-delay: 0s;
}
input:checked + .slider .star2 {
    animation-delay: 0.4s;
}
input:checked + .slider .star3 {
    animation-delay: 0.8s;
}
input:checked + .slider .star4 {
    animation-delay: 1.2s;
}
input:checked + .slider .star5 {
    animation-delay: 1.6s;
}

.label {
    position: fixed;
    bottom: 10px;
    font-size: 10px; /* Reduzido */
    color: #ffffff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
    transition: color 1s ease;
}

body.night .label {
    color: #e0e0e0;
}
.copyright {
    color: #ffffff;
    font-size: 8px; /* Reduzido */
    position: fixed;
    bottom: 5px;
}

/* Overlay para cobrir a tela */
.dialog-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px); /* Aplica o desfoque no fundo */
    display: none; /* Escondido por padrão */
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

/* Estilo do modal */
.dialog {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    width: 400px;
    text-align: center;
}

/* Botões do diálogo */
.dialog-buttons {
    margin-top: 15px;
    display: flex;
    justify-content: space-between;
}

.btn {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.btn-secondary {
    background-color: #ccc;
    color: #333;
}

.btn-secondary:hover {
    background-color: #bbb;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-primary:hover {
    background-color: #0056b3;
}

#loading-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.spinner {
    border: 4px solid rgba(255, 255, 255, 0.3);
    border-top: 4px solid #3498db;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
